*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body{
  background-image: url("https://raw.githubusercontent.com/Shaztry/html/master/wallpaper.jpg");
  -webkit-background-size : cover;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.container{
  height: 500px;
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.50;
  background: rgb(40,40,40);
  text-align: center;
  text-shadow: 0 5px 0 rgba(0,0,0,0.5);
  border-radius: 5px;
}
h1{
  font-size: 50px;
  position:absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -40%);
}
span::before{
  content: '';
  animation: animate infinite 8s;
}
p{
  font-size: 20px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
#p2{
  font-size: 20px;
  position:absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
}
@keyframes animate {
  0%{
    content : 'Chippii 🙂 ';
  }
  25%{
    content: 'chippuu 🙂 ';
  }
  50%{
    content: 'Bangarii  😊';
  }
  75%{
    content: 'chorry kanoo';
  }
  100%{
    content: 'Chorry & ILY';
  }
}
