@font-face {
    font-family: 'Berton Roman';
    src: url('fonts/BertonRoman-Regular.woff2') format('woff2'), url('fonts/BertonRoman-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    height: 100%;
    margin: 0;
}

h1#title {
    border-radius: 5px;
    border: 1px solid rgb(187, 187, 187);
}

body {
    background-image: url("./inviteBackground.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: 'Rosemary';
    src: url(fonts/Rosemary.woff2) format('woff2'), url(fonts/Rosemary.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Rosemary';
}

div.heading1 {
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    margin: auto;
    transform: translate(0, 30%);
}