@font-face {
    font-family: 'Berton Roman';
    src: url('fonts/BertonRoman-Regular.woff2') format('woff2'), url('fonts/BertonRoman-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rosemary';
    src: url(fonts/Rosemary.woff2) format('woff2'), url(fonts/Rosemary.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    height: 100%;
    margin: 0;
}

h1#title {
    border-radius: 5px;
    border: 1px solid rgb(187, 187, 187);
}

* {
    font-family: 'Rosemary';
    color: white;
    font-size: 20px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: center;
    position: absolute;
}

div.heading1 {
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    margin: auto;
    transform: translate(0, 40%);
}