@font-face {
    font-family: 'Berton Roman';
    src: url('BertonRoman-Regular.woff2') format('woff2'),
        url('BertonRoman-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rosemary';
    src: url(fonts/Rosemary.woff2) format('woff2'),
        url(fonts/Rosemary.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roxeline';
    src: url('Roxeline-Regular.woff2') format('woff2'),
        url('Roxeline-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
        font-family: 'Berton Roman';
        src: url(BertonRoman-Regular.woff2) format('woff2'),
        url(BertonRoman-Regular.woff) format('woff');
        font-weight: normal;
        font-style: normal;
      }

      html{
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center center;
        background-attachment: fixed;
    }